.text-center {
    text-align:center;
    color:rgb(215, 245, 66)
}
.top-image {
    text-align: center;
}
.top-image img {
    border-color:#78dfe4 !important;
}
.top-hero {
    background: rgba(35, 77, 75, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(35, 77, 75, 0.77);
   

}

h2 {
color:rgba(95, 158, 160, 0.956);
text-align:left;
}

header img{
border: 20px groove #CCC;
transition: easy-in-out 1s;

}

header img:hover {
border-color:cadetblue
}

a {
color:rgb(218, 220, 100);
transition: 1s;
}

a:hover {
color:cadetblue;
}

.tags span {
    border: 1px solid #78dfe4;
    color: #78dfe4;
    padding: 10px 20px;
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
}
.top-container {
    background-image: url('budynki.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}